h1 {
  text-align: center;
  color: rgb(16, 88, 16);
}

.plant-list { 
  justify-content: center;  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.plant-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.add-plant-form {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 200px;  
}